---
import Layout from "../layouts/Layout.astro";
import Theme from "../components/theme.astro";
import PreviewCircle from "../components/PreviewCircle.astro";
---

<Layout title="トップページ" hasHero>
  <Theme />
  <PreviewCircle />
  <h1 class="text-5xl font-Dela">現在準備中です</h1>
  <a
    href="https://x.com/shikosai33/"
    class="underline text-mauve-11 font-Dela"
    target="_blank"
    rel="noopener noreferrer"
  >
    X(Twitter) で最新情報をチェック
  </a>
  <a
    href="https://instagram.com/shikosai33/"
    class="underline text-mauve-11 font-Dela"
    target="_blank"
    rel="noopener noreferrer"
  >
    Instagram で最新情報をチェック
  </a>
</Layout>
