---
import Layout from "../layouts/Layout.astro";
---

<Layout title="トップページ" hasHero>
  <h1 class="font-Dela text-5xl">現在準備中です</h1>
  <a
    href="https://x.com/shikosai33/"
    class="text-mauve-11 font-Dela underline"
    target="_blank"
    rel="noopener noreferrer"
  >
    X(Twitter) で最新情報をチェック
  </a>
  <a
    href="https://instagram.com/shikosai33/"
    class="text-mauve-11 font-Dela underline"
    target="_blank"
    rel="noopener noreferrer"
  >
    Instagram で最新情報をチェック
  </a>
</Layout>
