---
import Layout from "@/layouts/Layout.astro";
import ButtonLink from "@/components/ButtonLink.astro";
import { ArrowLeft } from "lucide-astro";
import { Image } from "astro:assets";
import LaughingGuysImage from "@/assets/LaughingGuys.png";
import MapPinned from "@/assets/map-pinned.svg";

const STAFF = [
  ["大貫 ひまり", "おおぬき ひまり", "実行委員長", "本部"],
  ["姫野 颯太", "ひめの そうた", "副実行委員長", "本部"],
  ["林 実央", "はやし みお", "部署長", "本部"],
  ["川崎 准也", "かわさき じゅんや", "副部署長", "本部"],
  ["有坂 和大", "ありさか かずひろ", null, "本部"],
  ["塩田 倫太郎", "しおだ りんたろう", null, "本部"],
  ["小池 奏人", "こいけ かなと", null, "本部"],
  ["大津 悠叶", "おおつ はると", null, "本部"],
  ["トミー", null, null, "本部"],
  ["ちゃなぎ", "やなぎまち しゅう", null, "本部"],
  ["S.K.", "そめの こうたろう", null, "本部"],
  ["S.J.", null, null, "本部"],
  ["F.T.", null, null, "本部"],
  ["J.K.", null, null, "本部"],
  ["O.K.", null, null, "本部"],
  ["S.R.", null, null, "本部"],
  ["Y.N.", null, null, "本部"],
  ["U.A.", null, null, "本部"],
  ["W.R.", null, null, "本部"],
  ["A.K.", null, null, "本部"],
  ["O.E.", null, null, "本部"],
  ["O.A.", null, null, "本部"],
  ["O.E.", null, null, "本部"],
  ["K.H.", null, null, "本部"],
  ["舟生 凛々子", "ふにゅう りりこ", "部署長", "機材部"],
  ["國井 真帆", "くにい まはん", "副部署長", "機材部"],
  ["金浦 昇汰", "かねうら しょうた", null, "機材部"],
  ["鈴木 巧磨", "すずき たくま", null, "機材部"],
  ["小原 壮太", "おばら そうた", null, "機材部"],
  ["中垣 陽斗", "なかがき はると", null, "機材部"],
  ["富岡 直映", "とみおか なおあき", null, "機材部"],
  ["ふかやっち", "ふかや ゆうき", null, "機材部"],
  ["あ", "たすみ ちかこ", null, "機材部"],
  ["蒙古斑勢", "すぎもり みさき", null, "機材部"],
  ["ふぃじ", "さとう ゆうし", null, "機材部"],
  ["S.S.", "さがわ そうた", null, "機材部"],
  ["T.R.", "つかもと りょう", null, "機材部"],
  ["T.S.", null, null, "機材部"],
  ["T.T.", null, null, "機材部"],
  ["K.T.", null, null, "機材部"],
  ["N.S.", null, null, "機材部"],
  ["K.K.", null, null, "機材部"],
  ["T.A.", null, null, "機材部"],
  ["U.Y.", null, null, "機材部"],
  ["O.A.", null, null, "機材部"],
  ["A.T.", null, null, "機材部"],
  ["O.K.", null, null, "機材部"],
  ["S.S.", null, null, "機材部"],
  ["S.N.", null, null, "機材部"],
  ["T.T.", null, null, "機材部"],
  ["H.T.", null, null, "機材部"],
  ["K.N.", null, null, "機材部"],
  ["I.H.", null, null, "機材部"],
  ["須澤 龍星", "すざわ りゅうせい", "部署長", "デザイン部"],
  ["木内 裕太", "きうち ゆうた", null, "デザイン部"],
  ["S.R.", "せきね りょうすけ", null, "デザイン部"],
  ["K.S.", "かわせ そら", null, "デザイン部"],
  ["S.H.", "すずき  ひゆう", null, "デザイン部"],
  ["T.K.", null, null, "デザイン部"],
  ["O.S.", null, null, "デザイン部"],
  ["K.Y.", null, null, "デザイン部"],
  ["S.A.", null, null, "デザイン部"],
  ["笹原 ひより", "ささはら ひより", "部署長", "装飾部"],
  ["ツン 鵬臣", "つん ともおみ", null, "装飾部"],
  ["佐藤 大悟", "さとう だいご", null, "装飾部"],
  ["矢野 小春", "やの こはる", null, "装飾部"],
  [" SHA", "すずき ゆうだい", null, "装飾部"],
  ["かためちゃん", "てるぬま ちな", null, "装飾部"],
  ["A.R.", "あかさか りな", null, "装飾部"],
  ["H.T.", "ふるかわ とうや", null, "装飾部"],
  ["K.K.", "かわはら こうだい", null, "装飾部"],
  ["I.M.", null, null, "装飾部"],
  ["S.H.", null, null, "装飾部"],
  ["M.A.", null, null, "装飾部"],
  ["N.Y.", null, null, "装飾部"],
  ["S.A.", null, null, "装飾部"],
  ["A.K.", null, null, "装飾部"],
  ["K.I.", null, null, "装飾部"],
  ["M.H.", null, null, "装飾部"],
  ["K.A.", null, null, "装飾部"],
  ["M.Y.", null, null, "装飾部"],
  ["I.K.", null, null, "装飾部"],
  ["K.R.", null, null, "装飾部"],
  ["M.H.", null, null, "装飾部"],
  ["M.R.", null, null, "装飾部"],
  ["Y.I.", null, null, "装飾部"],
  ["小泉 柚奈", "こいずみ ゆうな", "部署長", "イベント部"],
  ["伊藤 諒", "いとう まこと", null, "イベント部"],
  ["小森 裕真", "こもり やすまさ", null, "イベント部"],
  ["ニワ", "なかにわ ちなつ", null, "イベント部"],
  ["もっふー", "かじわら はると", null, "イベント部"],
  ["S.S.", "さいとう そうま", null, "イベント部"],
  ["K.Y.", "こいで ゆうと", null, "イベント部"],
  ["O.N.", "おぬま にりん", null, "イベント部"],
  ["O.K.", "おおもり かなた", null, "イベント部"],
  ["W.H.", "わたべ  ひでまさ", null, "イベント部"],
  ["G.Y.", null, null, "イベント部"],
  ["O.K.", null, null, "イベント部"],
  ["I.J.", null, null, "イベント部"],
  ["H.S.", null, null, "イベント部"],
  ["T.R.", null, null, "イベント部"],
  ["T.T.", null, null, "イベント部"],
  ["W.K.", null, null, "イベント部"],
  ["K.K.", null, null, "イベント部"],
  ["S.A.", null, null, "イベント部"],
  ["H.W.", null, null, "イベント部"],
  ["U.Y.", null, null, "イベント部"],
  ["杉田 和奏", "すぎた わかな", "部署長", "会計・渉外部"],
  ["大貫 翔", "おおぬき かける", "副部署長", "会計・渉外部"],
  ["関 晴仁", "せき はるひと", null, "会計・渉外部"],
  ["小松崎 奈央", "こまつざき なお", null, "会計・渉外部"],
  ["濵本 夏芽", "はまもと なつめ", null, "会計・渉外部"],
  ["中田 陽仁", "なかた はると", null, "会計・渉外部"],
  ["S.R.", null, null, "会計・渉外部"],
  ["M.H.", null, null, "会計・渉外部"],
  ["N.H.", "なかがわ はるき", null, "会計・渉外部"],
  ["S.T.", null, null, "会計・渉外部"],
  ["S.R.", null, null, "会計・渉外部"],
  ["W.S.", null, null, "会計・渉外部"],
  ["W.F.", null, null, "会計・渉外部"],
  ["J.R.", null, null, "会計・渉外部"],
  ["Y.G.", null, null, "会計・渉外部"],
  ["Y.T.", null, null, "会計・渉外部"],
  ["O.F.", null, null, "会計・渉外部"],
  ["W.H.", null, null, "会計・渉外部"],
  ["佐野 友樹", "さの ともき", "部署長", "情報部"],
  ["小口 魁琉", "おぐち かいる", "副部署長", "情報部"],
  ["白田 連大", "はくた れおお", null, "情報部"],
  ["石川 太一", "いしかわ たいち", null, "情報部"],
  ["佐藤 匠", "さとう たくみ", null, "情報部"],
  ["関口 佳汰", "せきぐち けいた", null, "情報部"],
  ["shio", "しおはた はると", null, "情報部"],
  ["NagaimoDON", "かみなが あきひろ", null, "情報部"],
  ["G.K.", null, null, "情報部"],
  ["A.K.", null, null, "情報部"],
  ["W.A.", null, null, "情報部"],
  ["A.N.", "アンザイ ナオト", null, "情報部"],
  ["M.A.", "マツバラ アキヒコ", null, "情報部"],
] as const satisfies [string, string | null, string | null, string | null][];
---

<Layout title="スタッフ">
  <main class="flex flex-col justify-center items-center gap-6">
    <div
      class="relative p-6 flex flex-col items-center h-[100%] w-full bg-gradient-to-b from-[#FA7100C3] via-[#FF780060] to-[#CC660005] overflow-hidden rounded-3xl"
    >
      <p
        aria-hidden
        class="select-none absolute font-Dela text-2xl whitespace-nowrap mx-auto text-center origin-center -rotate-12 text-transparent text-stroke-2 text-stroke-orange-9"
      >
        カワイイ ♡ ≧A≦ ♡ キュルキュル ♡ トキメキ ♡ ドキドキ ♡ アコガレ ♡
        オモイデ<br />
        カワイイ ♡ ≧A≦ ♡ キュルキュル ♡ トキメキ ♡ ドキドキ ♡ アコガレ ♡ オモイデ<br
        />
        カワイイ ♡ ≧A≦ ♡ キュルキュル ♡ トキメキ ♡ ドキドキ ♡ アコガレ ♡ オモイデ<br
        />
        カワイイ ♡ ≧A≦ ♡ キュルキュル ♡ トキメキ ♡ ドキドキ ♡ アコガレ ♡ オモイデ<br
        />
        カワイイ ♡ ≧A≦ ♡ キュルキュル ♡ トキメキ ♡ ドキドキ ♡ アコガレ ♡ オモイデ<br
        />
        カワイイ ♡ ≧A≦ ♡ キュルキュル ♡ トキメキ ♡ ドキドキ ♡ アコガレ ♡ オモイデ<br
        />
        カワイイ ♡ ≧A≦ ♡ キュルキュル ♡ トキメキ ♡ ドキドキ ♡ アコガレ ♡ オモイデ<br
        />
      </p>
      <div class="relative flex flex-col items-center">
        <Image src={LaughingGuysImage} alt="茨香祭実行委員の集合写真" />
        <span
          data-text="スタッフ"
          class:list={[
            "inline-block text-3xl font-Dela text-stroke-mauve-1 text-stroke-[8px] paint-sfm drop-shadow-bump shadow-mauve-6",
            "before:content-[attr(data-text)/''] before:absolute before:inset-0 before:z-1 before:text-stroke-[0px] before:text-transparent before:bg-gradient-to-b before:from-[#C25E00] before:to-[#5A2D05] before:bg-clip-text before:pointer-events-none",
          ]}
        >
          スタッフ
        </span>
        <div class="mt-4 flex items-center">
          <Image src={MapPinned} alt="mapピン" class="float-left self-center" />
          <p
            class="text-mauve-11 font-bold whitespace-nowrap text-[14px] float-left"
          >
            〒312-8508 茨城県 ひたちなか市 中根866
          </p>
        </div>
      </div>
    </div>
    <ButtonLink href="/" class="">
      <ArrowLeft />トップページに戻る
    </ButtonLink>
  </main>
</Layout>
