---
import Layout from '../layouts/Layout.astro';
import Theme from '../components/theme.astro';
import EventPanel from '@/components/EventPanel.astro';
---

<Layout title="トップページ" hasHero>
  <main class="flex flex-col gap-6">
    <Theme />
    <EventPanel />
  </main>
</Layout>
