---
import { LayoutGrid } from 'lucide-astro';
import ButtonLink from './ButtonLink.astro';
import ColoredContainer from './ColoredContainer.astro';
import ColoredHeading from './ColoredHeading.astro';
---

<ColoredContainer color="blue" class="flex-col">
  <div class="w-full flex justify-between">
    <ColoredHeading as="h3" class="text-4xl" text="アクセス" color="blue" />
    <ButtonLink color="blue" href="/event">
      <LayoutGrid class="w-6 h-6 stroke-[2px] stroke-mauve-3" />
      詳細を開く
    </ButtonLink>
  </div>
  <p
    class="ml-6 text-xl font-Dela text-mauve-11 text-stroke-mauve-1 text-stroke-8 paint-sfm drop-shadow-bump shadow-mauve-6"
  >
    茨香祭までの便利な行き方
  </p>
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4022.053516903501!2d140.55073074446793!3d36.39699021221313!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60222faa16bfeb1b%3A0x8ee69992b50722b8!2z6Iyo5Z-O5bel5qWt6auY562J5bCC6ZaA5a2m5qCh!5e0!3m2!1sja!2sjp!4v1729150639038!5m2!1sja!2sjp"
    width="450"
    height="450"
    style="border:0;"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
    class="w-full h-auto max-h-[370px]"></iframe>
</ColoredContainer>
