<div
  class="relative flex flex-col items-center overflow-hidden gap-2 p-6 z-[-50] rounded-3xl border border-mauve-6 bg-mauve-1 w-full"
>
  <img
    src="./src/assets/heisei-heart.png"
    class="w-[110px] h-[110px] top-[-0px] right-[-15px] absolute rotate-[20.37deg]"
  />
  <img
    src="./src/assets/heisei-heart.png"
    class="w-[100px] h-[100px] top-[65px] right-[-18px] absolute rotate-[-2.39 deg] grayscale"
  />
  <img
    src="./src/assets/shikosai33-anniversary-logo.png"
    class="w-[70px] h-auto top-[20px] left-[20px] absolute"
  />
  <img
    src="./src/assets/heisei-tiara.png"
    class="w-[80px] h-auto top-[90px] left-[0px] absolute"
  />

  <h4 class="relative">
    <span
      class="tracking-widest inline-block text-sm font-Dela inset-x-0 top-0 text-mauve-11 text-stroke-mauve-1 text-stroke-[4px] paint-sfm drop-shadow-bump shadow-mauve-6 text-center"
    >
      第33回 <ruby>茨香祭<rt>しこうさい</rt></ruby>のテーマは ...
    </span>
  </h4>

  <div class="relatve p-4 overflow-hidden">
    <span
    data-text="ちゃあみぃ!"
    class:list={[
        "inline-block text-6xl font-Dela text-mauve-1 text-stroke-mauve-1 text-stroke-[8px] paint-sfm drop-shadow-bump shadow-mauve-6 text-center",
        "before:content-[attr(data-text)/''] before:absolute before:inset-0 before:z-1 before:text-stroke-[0px] before:text-transparent before:bg-gradient-to-r before:from-[#F472B6] before:via-[#FB923C] before:to-[#FDE047] before:bg-clip-text before:pointer-events-none",
      ]}
    >
    ちゃあみぃ!
  </span>

  <span
    class:list={[
      "absolute inset-x-0 inset-y-12 z-[-10] inline-block text-sm text-center font-Dela whitespace-nowrap  text-mauve-1 text-stroke-mauve-3 text-stroke-[2px] paint-sfm rotate-[-12.71deg]",
    ]}
  >
    カワイイ ♡ ≧A≦ ♡ キュルキュル ♡ トキメキ ♡ ドキドキ ♡ アコガレ ♡ オモイデ<br
    />
    カワイイ ♡ ≧A≦ ♡ キュルキュル ♡ トキメキ ♡ ドキドキ ♡ アコガレ ♡ オモイデ<br
    />
    カワイイ ♡ ≧A≦ ♡ キュルキュル ♡ トキメキ ♡ ドキドキ ♡ アコガレ ♡ オモイデ<br
    />
    カワイイ ♡ ≧A≦ ♡ キュルキュル ♡ トキメキ ♡ ドキドキ ♡ アコガレ ♡ オモイデ<br
    />
    カワイイ ♡ ≧A≦ ♡ キュルキュル ♡ トキメキ ♡ ドキドキ ♡ アコガレ ♡ オモイデ<br
    />
    カワイイ ♡ ≧A≦ ♡ キュルキュル ♡ トキメキ ♡ ドキドキ ♡ アコガレ ♡ オモイデ<br
    />
    カワイイ ♡ ≧A≦ ♡ キュルキュル ♡ トキメキ ♡ ドキドキ ♡ アコガレ ♡ オモイデ
  </span>
</div>

  <h5 class="relative">
    <span
      data-text="普段の茨城高専にはない”茨香祭”という非日常を彩る要素と言えば、愛嬌・可愛らしさ！\nらぶりーでちゃーみーな、日曜朝の女児向けアニメのような世界観をお楽しみに！"
      class:list={[
        "inline-block text-xs font-Dela text-center whitespace-pre-wrap invisible",
        "before:visible before:content-[attr(data-text)] before:absolute before:inset-x-0 before:bottom-0 before:text-stroke-[2px] before:text-transparent before:bg-gradient-to-b before:from-[#F2EFF3] before:to-[#DBD8E0] before:bg-clip-text before:pointer-events-none",
        "after:visible after:content-[attr(data-text)] after:absolute after:inset-x-0 after:bottom-0 after:text-stroke-[0px] after:text-transparent after:bg-gradient-to-b after:from-[#65636D] after:to-[#211F26] after:bg-clip-text after:pointer-events-none",
      ]}
    >
      普段の茨城高専にはない”茨香祭”という非日常を彩る要素と言えば、愛嬌・可愛らしさ！らぶりーでちゃーみーな、日曜朝の女児向けアニメのような世界観をお楽しみに！
    </span>
  </h5>
</div>
